/* Form styles */

.form {
  background-color: var(--theme-background-ultralight);
  padding: 20px;
  border-radius: var(--theme-border-radius-smooth);
  border: 1px solid var(--theme-background-normal);
  display: grid;
  gap: 10px;
}

.form label {
  color: var(--theme-color-dark);
  margin-right: 30px;
  margin-bottom: 10px;
}

.form-input {
  background-color: var(--theme-background-light);
  color: var(--theme-color-normal);
  border: 1px solid var(--theme-color-normal);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  min-width: 255px;
  font-size: 16px;
  display: block;
  box-sizing: border-box;
}

.error {
  border: 1px solid maroon;
  background-color: var(--theme-color-light);
  color: maroon;
}

.warning {
  background: #ffcc00;
  border-radius: var(--theme-border-radius-smooth);
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}

.footer button {
  background-color: var(--theme-color-normal);
  color: var(--theme-background-light);
  display: block;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  width: 200px;
}

.footer button.secondary {
  background-color: var(--theme-background-light);
  border: 1px solid var(--theme-background-normal);
  color: var(--theme-color-normal);
}

.footer button:disabled {
  background-color: lightgray;
  border-width: 0;
  color: gray;
  pointer-events: none;
}

@media (min-width: 786px) {
  .form {
    grid-template-rows: repeat(2, 1fr) minmax(40px, auto);
    grid-template-columns: repeat(2, auto 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .footer,
  .warning {
    grid-column: 1 / -1;
    justify-self: center;
    width: 100%;
  }
}
